:root {
    --color-blue: #2558EB;
}
* {
    padding: 3px 5px ;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navul ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.diva {
    display: flex;
    gap: 24px;
    text-decoration: none;
}

.diva button {
    text-decoration: none;
    color: inherit;
    border: 1px solid blue;
    border-radius: 52px;
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sing{
    background-color: var(--color-blue);
}